<!doctype html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="light" data-sidebar-size="lg" data-sidebar-image="none" data-preloader="disable" data-body-image="none">

    <head>

        <meta charset="utf-8">
        <title>404</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="eCommerce + Admin HTML Template" name="description">
        <meta content="Themesbrand" name="author">
        <!-- App favicon -->
        <link rel="shortcut icon" href="../../static/assets_admin/images/favicon.ico">

        <!-- Layout config Js -->
        <script src="../../static/assets_admin/js/layout.js"></script>
        <!-- Bootstrap Css -->
        <link href="../../static/assets_admin/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <!-- Icons Css -->
        <link href="../../static/assets_admin/css/icons.min.css" rel="stylesheet" type="text/css">
        <!-- App Css-->
        <link href="../../static/assets_admin/css/app.min.css" rel="stylesheet" type="text/css">
        <!-- custom Css-->
        <link href="../../static/assets_admin/css/custom.min.css" rel="stylesheet" type="text/css">

    </head>

    <body>
        
       
            <div class="w-100" style="margin-top: 100px;">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <div class="auth-card mx-lg-3">
                                <div class="card border-0 mb-0">
                                    <div class="card-body text-center p-4"> 
                                        <div class="text-center px-sm-5 mx-5">
                                            <img src="../../static/assets_admin/images/error400.png" class="img-fluid" alt="">
                                        </div>
                                        <div class="mt-4 text-center pt-3">
                                            <div class="position-relative">
                                                <div class="text-center bg-danger mb-5 p-2 border-radius text-white">{{message}}</div>
                                                <div class="mt-4">
                                                    <a href="/" class="btn btn-primary"> Back to home</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!--end col-->
                    </div><!--end row-->
                </div><!--end container-->

              
            </div> 

        <!-- JAVASCRIPT -->
        <script src="../../static/assets_admin/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="../../static/assets_admin/libs/simplebar/simplebar.min.js"></script>
        <script src="../../static/assets_admin/js/plugins.js"></script>

    </body>

</html>