<div class="tab-pane active" id="tab-1">
    <div class="row grid-type products">
        <div class="product-wrap lg-item">
            <div class="product text-center">
                <figure class="product-media">
                    <a href="product-default.html">
                        <img src="../static/assets/images/demos/demo2/products/3-1-1.jpg" alt="Product" width="300" height="338">
                        <img src="../static/assets/images/demos/demo2/products/3-1-2.jpg" alt="Product" width="300" height="338">
                    </a>
                    <div class="product-action-vertical">
                        <a href="#" class="btn-product-icon btn-cart w-icon-cart" title="Add to cart"></a>
                        <a href="#" class="btn-product-icon btn-wishlist w-icon-heart" title="Add to wishlist"></a>
                        <a href="#" class="btn-product-icon btn-quickview w-icon-search" title="Quickview"></a>
                        <a href="#" class="btn-product-icon btn-compare w-icon-compare" title="Add to Compare"></a>
                    </div>
                    <div class="product-label-group">
                        <label class="product-label label-discount">-15%</label>
                    </div>
                </figure>
                <div class="product-details">
                    <h4 class="product-name"><a href="product-default.html">Magenetic Charge Box</a>
                    </h4>
                    <div class="ratings-container">
                        <div class="ratings-full">
                            <span class="ratings" style="width: 100%;"></span>
                            <span class="tooltiptext tooltip-top"></span>
                        </div>
                        <a href="product-default.html" class="rating-reviews">(3 Reviews)</a>
                    </div>
                    <div class="product-price">
                        <ins class="new-price">$79.00</ins>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-wrap sm-item">
            <div class="product text-center">
                <figure class="product-media">
                    <a href="product-default.html">
                        <img src="../static/assets/images/demos/demo2/products/3-2-1.jpg" alt="Product" width="300" height="338">
                        <img src="../static/assets/images/demos/demo2/products/3-2-2.jpg" alt="Product" width="300" height="338">
                    </a>
                    <div class="product-action-vertical">
                        <a href="#" class="btn-product-icon btn-cart w-icon-cart" title="Add to cart"></a>
                        <a href="#" class="btn-product-icon btn-wishlist w-icon-heart" title="Add to wishlist"></a>
                        <a href="#" class="btn-product-icon btn-quickview w-icon-search" title="Quickview"></a>
                        <a href="#" class="btn-product-icon btn-compare w-icon-compare" title="Add to Compare"></a>
                    </div>
                    <div class="product-label-group">
                        <label class="product-label label-new">New</label>
                    </div>
                </figure>
                <div class="product-details">
                    <h4 class="product-name"><a href="product-default.html">Gold Watch</a></h4>
                    <div class="ratings-container">
                        <div class="ratings-full">
                            <span class="ratings" style="width: 80%;"></span>
                            <span class="tooltiptext tooltip-top"></span>
                        </div>
                        <a href="product-default.html" class="rating-reviews">(3 Reviews)</a>
                    </div>
                    <div class="product-price">
                        <ins class="new-price">$164.47</ins><del class="old-price">$183.47</del>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-wrap sm-item">
            <div class="product text-center">
                <figure class="product-media">
                    <a href="product-default.html">
                        <img src="../static/assets/images/demos/demo2/products/3-3-1.jpg" alt="Product" width="300" height="338">
                        <img src="../static/assets/images/demos/demo2/products/3-3-2.jpg" alt="Product" width="300" height="338">
                    </a>
                    <div class="product-action-vertical">
                        <a href="#" class="btn-product-icon btn-cart w-icon-cart" title="Add to cart"></a>
                        <a href="#" class="btn-product-icon btn-wishlist w-icon-heart" title="Add to wishlist"></a>
                        <a href="#" class="btn-product-icon btn-quickview w-icon-search" title="Quickview"></a>
                        <a href="#" class="btn-product-icon btn-compare w-icon-compare" title="Add to Compare"></a>
                    </div>
                </figure>
                <div class="product-details">
                    <h4 class="product-name"><a href="product-default.html">Drone Wireless</a></h4>
                    <div class="ratings-container">
                        <div class="ratings-full">
                            <span class="ratings" style="width: 60%;"></span>
                            <span class="tooltiptext tooltip-top"></span>
                        </div>
                        <a href="product-default.html" class="rating-reviews">(8 Reviews)</a>
                    </div>
                    <div class="product-price">
                        <ins class="new-price">$89.00</ins>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-wrap sm-item">
            <div class="product text-center">
                <figure class="product-media">
                    <a href="product-default.html">
                        <img src="../static/assets/images/demos/demo2/products/3-4-1.jpg" alt="Product" width="300" height="338">
                        <img src="../static/assets/images/demos/demo2/products/3-4-2.jpg" alt="Product" width="300" height="338">
                    </a>
                    <div class="product-action-vertical">
                        <a href="#" class="btn-product-icon btn-cart w-icon-cart" title="Add to cart"></a>
                        <a href="#" class="btn-product-icon btn-wishlist w-icon-heart" title="Add to wishlist"></a>
                        <a href="#" class="btn-product-icon btn-quickview w-icon-search" title="Quickview"></a>
                        <a href="#" class="btn-product-icon btn-compare w-icon-compare" title="Add to Compare"></a>
                    </div>
                </figure>
                <div class="product-details">
                    <h4 class="product-name"><a href="product-default.html">Multi-colorful Music
                            Player</a></h4>
                    <div class="ratings-container">
                        <div class="ratings-full">
                            <span class="ratings" style="width: 100%;"></span>
                            <span class="tooltiptext tooltip-top"></span>
                        </div>
                        <a href="product-default.html" class="rating-reviews">(6 Reviews)</a>
                    </div>
                    <div class="product-price">
                        <ins class="new-price">$24.00</ins>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-wrap sm-item">
            <div class="product text-center">
                <figure class="product-media">
                    <a href="product-default.html">
                        <img src="../static/assets/images/demos/demo2/products/3-5-1.jpg" alt="Product" width="300" height="338">
                        <img src="../static/assets/images/demos/demo2/products/3-5-2.jpg" alt="Product" width="300" height="338">
                    </a>
                    <div class="product-action-vertical">
                        <a href="#" class="btn-product-icon btn-cart w-icon-cart" title="Add to cart"></a>
                        <a href="#" class="btn-product-icon btn-wishlist w-icon-heart" title="Add to wishlist"></a>
                        <a href="#" class="btn-product-icon btn-quickview w-icon-search" title="Quickview"></a>
                        <a href="#" class="btn-product-icon btn-compare w-icon-compare" title="Add to Compare"></a>
                    </div>
                </figure>
                <div class="product-details">
                    <h4 class="product-name"><a href="product-default.html">Charge &amp; Alarm
                            Machine</a></h4>
                    <div class="ratings-container">
                        <div class="ratings-full">
                            <span class="ratings" style="width: 80%;"></span>
                            <span class="tooltiptext tooltip-top"></span>
                        </div>
                        <a href="product-default.html" class="rating-reviews">(3 Reviews)</a>
                    </div>
                    <div class="product-price">
                        <ins class="new-price">$39.00</ins>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-wrap sm-item">
            <div class="product text-center">
                <figure class="product-media">
                    <a href="product-default.html">
                        <img src="../static/assets/images/demos/demo2/products/3-6-1.jpg" alt="Product" width="300" height="338">
                        <img src="../static/assets/images/demos/demo2/products/3-6-2.jpg" alt="Product" width="300" height="338">
                    </a>
                    <div class="product-action-vertical">
                        <a href="#" class="btn-product-icon btn-cart w-icon-cart" title="Add to cart"></a>
                        <a href="#" class="btn-product-icon btn-wishlist w-icon-heart" title="Add to wishlist"></a>
                        <a href="#" class="btn-product-icon btn-quickview w-icon-search" title="Quickview"></a>
                        <a href="#" class="btn-product-icon btn-compare w-icon-compare" title="Add to Compare"></a>
                    </div>
                </figure>
                <div class="product-details">
                    <h4 class="product-name"><a href="product-default.html">Mini Wireless
                            Earphone</a></h4>
                    <div class="ratings-container">
                        <div class="ratings-full">
                            <span class="ratings" style="width: 100%;"></span>
                            <span class="tooltiptext tooltip-top"></span>
                        </div>
                        <a href="product-default.html" class="rating-reviews">(9 Reviews)</a>
                    </div>
                    <div class="product-price">
                        <ins class="new-price">$3.66</ins>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-wrap sm-item">
            <div class="product text-center">
                <figure class="product-media">
                    <a href="product-default.html">
                        <img src="../static/assets/images/demos/demo2/products/3-7-1.jpg" alt="Product" width="300" height="338">
                        <img src="../static/assets/images/demos/demo2/products/3-7-2.jpg" alt="Product" width="300" height="338">
                    </a>
                    <div class="product-action-vertical">
                        <a href="#" class="btn-product-icon btn-cart w-icon-cart" title="Add to cart"></a>
                        <a href="#" class="btn-product-icon btn-wishlist w-icon-heart" title="Add to wishlist"></a>
                        <a href="#" class="btn-product-icon btn-quickview w-icon-search" title="Quickview"></a>
                        <a href="#" class="btn-product-icon btn-compare w-icon-compare" title="Add to Compare"></a>
                    </div>
                </figure>
                <div class="product-details">
                    <h4 class="product-name"><a href="product-default.html">Hight Quality Screen
                            Tablet</a></h4>
                    <div class="ratings-container">
                        <div class="ratings-full">
                            <span class="ratings" style="width: 80%;"></span>
                            <span class="tooltiptext tooltip-top"></span>
                        </div>
                        <a href="product-default.html" class="rating-reviews">(5 Reviews)</a>
                    </div>
                    <div class="product-price">
                        <ins class="new-price">$173.84</ins>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>